* {
  padding: 0;
  margin: 0;
}
.t568a {
  font-size: 30px;
  margin: 30px;
  width: auto;
  font-family: monospace;
  color: black
}


#t568a{
  font-size: 80px;
  color: white;
  background-color: black;
}
.no1 {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.wg {
  background-color: #a5ba93;
}

.g {
  background-color: green;
}

.wo {
  background-color: #f2ab8d;
}

.bl {
  background-color: blue;
}

.wbl {
  background-color: #7d97ff;
}

.o {
  background-color: #fa7500;
}

.wb {
  background-color: #a85122;
}

.b {
  background-color: #854a10;
}

/*t568b*/


#t568b {
  font-size: 80px;
  background-color: black;
  color: white;
}

.no2 {
  height: auto;
  color: white;
  margin-left:  10px;
  margin-right: 10px;
  
}



/*back button*/

.container {
  height: 100%;
  width: 100%;
}

.navbar {
  position: fixed;
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
}

nav ul li a {
  font-size: 40px;
  font-weight: 900;
  background-color: black;
  width: 100%;
  color: white;
}

section p {
  border: white 1px solid;
}




